@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #d5e1ef;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    font-family: "Outfit", sans-serif; 
}

.card {
    background-color: #fff;
    width: 290px;
    padding: 19px;
    border-radius: 15px;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

.title {
    text-align: center;
    padding: 20px 0;
    font-size: 1.2rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%)
}

p {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 1rem;
    text-align: center;
    color: hsl(220, 15%, 55%);
}